; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = LF
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
indent_style = space
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 4

[*.{css,js,twig,xml,html}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
