{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div>
        {{ form_widget(form) }}
    </div>
    <div>
        <button>Submit</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
